# PANDAS

## PANDAS

### PANDAS

#### PANDAS

##### PANDAS

###### PANDAS

Pandas : For working with dataset, or analyzing arrays and matrices( after conversion to tabular).
pandas stands for panel data analysis.

In [1]:
import numpy as np
import pandas as pd

Series: Data type. built on top of numpy array object, so it is very similar to a numpy array.

In [2]:
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array(my_list)
d={'a':10,'b':20,'c':30}

In [3]:
#creating series
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

pd.Series([10,20,30])

In [4]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(labels, my_list)

10    a
20    b
30    c
dtype: object

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(index=labels)

a   NaN
b   NaN
c   NaN
dtype: float64

In [13]:
pd.Series([sum,print,len])#passing functions as parameters
#they will be treated as data/objects

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### Using an Index

Key to using series is index. pandas makes use of index or numbers for fast lookup for info(works like hash table or dict)

In [14]:
s1=pd.Series([1,2,3,4],['usa','india','france','china'])

In [15]:
s1 #individual series means individual columns. i.e colllection of diff series create a table

usa       1
india     2
france    3
china     4
dtype: int64

In [16]:
s2=pd.Series([1,2,5,4],index=["usa","india","france","italy"])

In [17]:
s2

usa       1
india     2
france    5
italy     4
dtype: int64

In [18]:
s1['usa']

np.int64(1)

In [19]:
s1[1]#warning and 2

/var/folders/ng/6hr92t6j3pvbp9h3swyww2l00000gn/T/ipykernel_9496/3011174028.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[1]#warning and 2

np.int64(2)

In [20]:
s1+s2 #missing value is nan, also output should just be 1 in prev. not np.....

china     NaN
france    8.0
india     4.0
italy     NaN
usa       2.0
dtype: float64

## DataFrames

table=dataframe directly inspired by R. series objects put together to share the same index.

In [21]:
from numpy.random import randn
np.random.seed(101)

In [22]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [23]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df=pd.DataFrame(randn(5,4),index='ABCDE'.split(),columns='WXYZ'.split())#error

ValueError: Shape of passed values is (5, 4), indices imply (1, 1)

In [ ]:
df

In [ ]:
df=pd.DataFrame(randn(5,4),index='A B C D E',columns='W X Y Z')#error

In [ ]:
df['W']

In [ ]:
df[['W','Z']]#pass a list of col names

In [ ]:
df['W','Z']#error check_indexing_error

dataframe individual column is series

you cannot directly access row, you will get an error

In [ ]:
df.W # sql syntax, not recommended

In [ ]:
#creating a new column
df['new']=df['W']+df['Y']

In [ ]:
df

In [ ]:
type(df['W'])#column is series

In [ ]:
df.drop('new',axis=1)#axis=0 rows, 1 is col

In [ ]:
df

In [ ]:
df=df.drop('new',axis=1)#do this

In [ ]:
df

In [ ]:
df.drop('Y',axis=1,inplace=True)#or this
df

In [ ]:
#selecting rows
df.loc['A']

In [ ]:
print(df.loc['A'])

In [ ]:
df.iloc[2]

In [ ]:
#selecting subset of rows and columns
df.loc['B','Z']

In [ ]:
df.loc[['A','B'],['W','Z']]#[[row],[col]] , list passing only rewd if more than one val passed

## CONDITIONAL SELECTION

In [ ]:
df>0 #relational output is boolean

In [ ]:
df

In [ ]:
df[df>0]

In [ ]:
df

In [ ]:
df[df['W']>0]['Z']#returns only z

In [ ]:
df[df['W']>0]

In [ ]:
df[df['W']>0][['Z','X']]

In [ ]:
df[(df['W']>0)&(df['Z']>1)]

### More index details

In [ ]:
df

In [ ]:
#Reset to default
df.reset_index()

In [ ]:
newind='CA NY WY OR CO'.split()

In [ ]:
df['States']=newind#new column

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

## Multi Index and Index Hierarchy

In [26]:
#index levels
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [27]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [34]:
df=pd.DataFrame(randn(6,2),index=hier_index, columns=('A B').split())

In [35]:
df

             A         B
G1 1  0.147027 -0.479448
   2  0.558769  1.024810
   3 -0.925874  1.862864
G2 1 -1.133817  0.610478
   2  0.386030  2.084019
   3 -0.376519  0.230336

In [37]:
df.loc['G1']

          A         B
1  0.147027 -0.479448
2  0.558769  1.024810
3 -0.925874  1.862864

In [40]:
df.loc['G1'].loc[1]

A    0.147027
B   -0.479448
Name: 1, dtype: float64

In [41]:
df.index.names

FrozenList(['Group', 'Num'])

In [42]:
df.index.names=['Group','Num']
df

                  A         B
Group Num
G1    1    0.147027 -0.479448
      2    0.558769  1.024810
      3   -0.925874  1.862864
G2    1   -1.133817  0.610478
      2    0.386030  2.084019
      3   -0.376519  0.230336

In [44]:
df.xs('G1')#xs means croass section method, it returns cross section

            A         B
Num
1    0.147027 -0.479448
2    0.558769  1.024810
3   -0.925874  1.862864

In [50]:
df.xs(('G1',2))#does not accept list as a key

A    0.558769
B    1.024810
Name: (G1, 2), dtype: float64

In [52]:
df.xs(1,level='Num')#returns 1st level of g1 g2

              A         B
Group
G1     0.147027 -0.479448
G2    -1.133817  0.610478

In [53]:
df.xs(3,level='Num')

              A         B
Group
G1    -0.925874  1.862864
G2    -0.376519  0.230336